

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
} 
nav{
  display: flex;
  height: 80px;
  width: 100%;
  background: #1b1b1b;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 100px;
  flex-wrap: wrap;
}
nav .logo{
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}
nav ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
nav ul li{
  margin: 0 5px;
}
nav ul li a{
  color: #f2f2f2;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}
nav ul li a.active,
nav ul li a:hover{
  color: #111;
  background: #fff;
}
nav .menu-btn i{
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  display: none;
}
input[type="checkbox"]{
  display: none;
}
@media (max-width: 1000px){
  nav{
    padding: 0 40px 0 50px;
  }
}
@media (max-width: 920px) {
  nav .menu-btn i{
    display: block;
  }
  #click:checked ~ .menu-btn i:before{
    content: "\f00d";
  }
  nav ul{
    position: fixed;
    top: 80px;
    left: -100%;
    background: #111;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
  }
  #click:checked ~ ul{
    left: 0;
  }
  nav ul li{
    width: 100%;
    margin: 40px 0;
  }
  nav ul li a{
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  #click:checked ~ ul li a{
    margin-left: 0px;
  }
  nav ul li a.active,
  nav ul li a:hover{
    background: none;
    color: cyan;
  }
}
.content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: -1;
  width: 100%;
  padding: 0 30px;
  color: #1b1b1b;
}
.content div{
  font-size: 40px;
  font-weight: 700;
}


.b1{
   		background-color: pink;
   		position:absolute;
   		right: 0px;
   		top: 0px;
   		width: 100px;
   		height:27px;
   		border: 3px solid #00000;
    }
   	.b2{
   		background-color: #D5374A;
   		position:absolute;
   	  right: 0;
   		top: 0;
   		width: 100px;
   		height:27px;
   		border: 3px solid #00000;

   		 

   	}


   .b3{
   	   
     	background-color: #F9F7A1 ;
   		position:absolute;
   		right: 0px;
   		top: 0px;
   		width: 100px;
   		height:27px;
   		
   		
   	}
   p{
   	margin-top: 20px;
   }

   h2{
   	position: relative;
   	text-align: center;
   	margin-top:0; 
   	font-size: 20px;
   	font-family: "Comic Sans MS", cursive, sans-serif;

   }
   .boxed p{
   	position: relative;
   	z-index: 10;
   }


.boxed1{
  border: 3px solid #000000;
  margin-top: 60px;
  background-color:gray;
  width:30%;
  height:20%; 
  display:inline-block; 
  margin-left: 10px;
  margin-right:10px;
  padding:10px; 
  position: relative;
}
.boxed2 {
  border: 3px solid #000000;
  margin-top: 60px;
  background-color:gray;
  width:30%; 
  height:20%;
  display:inline-block; 
  margin-left: 10px;
  margin-right:10px;
  padding:10px; 
  position: relative;
}
.boxed3 {
  border: 3px solid #000000;
  margin-top: 60px;
  background-color:gray;
  width:30%;
  height:20%; 
  display:inline-block; 
  margin-left: 10px;
  margin-right:10px;
  padding:10px; 
  position: relative;
}


h1{
	text-align: center;
	margin-top: 50px;
	font-family:omic Sans MS, cursive, sans-serif;
}
  
   @media (min-width: 992px) {
 	.boxed1{
 		 
 		  width: 30%;
 	}
    .boxed2{
     
      width: 30%;
  }
    .boxed3{
     
      width: 30%;
  }

 	  
   	  
    	
    }
    @media(min-width:  768px ) and (max-width:  991px) {
    
      .boxed1{

      
      	 width: 30%;
         height: 20%;

      	
      }
       .boxed2{

      
         width: 30%;
         height: 20%;


        
      }
   
      .boxed3{

      
         width: 65%;
         height: 20%;

        
      }
   
   
     
    	
    }
    @media(max-width: 767px) {
    	.boxed1{
    		
    		  width: 90%;
          height: 20%;

    	}
        .boxed2{
        
          width: 90%;
          height: 20%;

      }
        .boxed3{
        
          width: 90%;
          height: 20%;

      }

   	}

